# LOW LIMB CLASSIFICATION 
classification signal from low limb

load data from txt file into pandas dataframe and make base model (lstm)

In [ ]:
# get data from google drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## import library

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 

import os

## preprocessing data

In [ ]:
## Data Directory
data_dir = '/content/drive/MyDrive/SEMG_DB1'

## Normal SEMG dataset
n_data = "/content/drive/MyDrive/SEMG_DB1/N_TXT/"

## Abnormal SEMG dataset
a_data = "/content/drive/MyDrive/SEMG_DB1/A_TXT/"

In [ ]:
## go thougth the data files 
for dirpath, dirnames, filenames in os.walk('/content/drive/MyDrive/SEMG_DB1'):
  print(f'There are {len(dirnames)} dirctory and {len(filenames)} TXT in "{dirpath}" .')

There are 5 dirctory and 5 TXT in "/content/drive/MyDrive/SEMG_DB1" .
There are 0 dirctory and 33 TXT in "/content/drive/MyDrive/SEMG_DB1/N_LOG" .
There are 0 dirctory and 33 TXT in "/content/drive/MyDrive/SEMG_DB1/A_TXT" .
There are 0 dirctory and 33 TXT in "/content/drive/MyDrive/SEMG_DB1/A_LOG" .
There are 0 dirctory and 33 TXT in "/content/drive/MyDrive/SEMG_DB1/N_TXT" .
There are 0 dirctory and 0 TXT in "/content/drive/MyDrive/SEMG_DB1/.ipynb_checkpoints" .

In [ ]:
x_1 =0
for __, _, filename in os.walk(n_data):
  for i in filename:

    with open(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{i}', 'r') as fp:
      x = len(fp.readlines())
      # b = x + b
      # x_1 = max(x_1,x) 
  print('Total lines:', x_1) #

Total lines: 36908

In [ ]:
x_1 =0
for __, _, filename in os.walk('/content/drive/MyDrive/SEMG_DB1/A_TXT'):
  for i in filename:

    with open(f'/content/drive/MyDrive/SEMG_DB1/A_TXT/{i}', 'r') as fp:
      x = len(fp.readlines())
      # b = x + b
      x_1 = max(x_1,x) 
  print('Total lines:', x_1) #

Total lines: 69382

In [ ]:
idx= 0
for filename in os.listdir('/content/drive/MyDrive/SEMG_DB1/N_TXT/'):
    if idx == 0 :
      idx = idx + 1 
      continue

    sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)
    print(sarray.shape)
    if sarray.shape[1] == 6:
      sarray1 = sarray[:,:5]
    # print(sarray1.shape)
    sarray.shape

    nnnn = pd.concat([nnnn,pd.DataFrame(sarray)])
    # nnnn.head()

(5890, 5)
(16848, 5)
(9539, 5)
(6922, 5)

<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #9547 (got 1 columns instead of 5)
    Line #9548 (got 1 columns instead of 5)
    Line #9549 (got 1 columns instead of 5)
    Line #9550 (got 1 columns instead of 5)
    Line #9551 (got 1 columns instead of 5)
    Line #9552 (got 1 columns instead of 5)
    Line #9553 (got 1 columns instead of 5)
    Line #9554 (got 1 columns instead of 5)
    Line #9555 (got 1 columns instead of 5)
    Line #9556 (got 1 columns instead of 5)
    Line #9557 (got 1 columns instead of 5)
    Line #9558 (got 1 columns instead of 5)
    Line #9559 (got 1 columns instead of 5)
    Line #9560 (got 1 columns instead of 5)
    Line #9561 (got 1 columns instead of 5)
    Line #9562 (got 1 columns instead of 5)
    Line #9563 (got 1 columns instead of 5)
    Line #9564 (got 1 columns instead of 5)
    Line #9565 (got 1 columns instead of 5)
    Line #9566 (got 1 columns instead of 5)
    Line #9567 (got 1 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)
<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #6930 (got 1 columns instead of 5)
    Line #6931 (got 1 columns instead of 5)
    Line #6932 (got 1 columns instead of 5)
    Line #6933 (got 1 columns instead of 5)
    Line #6934 (got 1 columns instead of 5)
    Line #6935 (got 1 columns instead of 5)
    Line #6936 (got 1 columns instead of 5)
    Line #6937 (got 1 columns instead of 5)
    Line #6938 (got 1 columns instead of 5)
    Line #6939 (got 1 columns instead of 5)
    Line #6940 (got 1 columns instead of 5)
    Line #6941 (got 1 columns instead of 5)
    Line #6942 (got 1 columns instead of 5)
    Line #6943 (got 1 columns instead of 5)
    Line #6944 (got 1 columns instead of 5)
    Line #6945 (got 1 columns instead of 5)
    Line #6946 (got 1 columns instead of 5)
    Line #6947 (got 1 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)
<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #7530 (got 1 columns instead of 5)
    Line #7531 (got 1 columns instead of 5)
    Line #7532 (got 1 columns instead of 5)
    Line #7533 (got 1 columns instead of 5)
    Line #7534 (got 1 columns instead of 5)
    Line #7535 (got 1 columns instead of 5)
    Line #7536 (got 1 columns instead of 5)
    Line #7537 (got 1 columns instead of 5)
    Line #7538 (got 1 columns instead of 5)
    Line #7539 (got 1 columns instead of 5)
    Line #7540 (got 1 columns instead of 5)
    Line #7541 (got 1 columns instead of 5)
    Line #7542 (got 1 columns instead of 5)
    Line #7543 (got 1 columns instead of 5)
    Line #7544 (got 1 columns instead of 5)
    Line #7545 (got 1 columns instead of 5)
    Line #7546 (got 1 columns instead of 5)
    Line #7547 (got 1 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)

(16860, 5)
(7522, 5)
(15260, 5)
(6563, 5)

<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #6571 (got 1 columns instead of 5)
    Line #6572 (got 1 columns instead of 5)
    Line #6573 (got 1 columns instead of 5)
    Line #6574 (got 1 columns instead of 5)
    Line #6575 (got 1 columns instead of 5)
    Line #6576 (got 1 columns instead of 5)
    Line #6577 (got 1 columns instead of 5)
    Line #6578 (got 1 columns instead of 5)
    Line #6579 (got 1 columns instead of 5)
    Line #6580 (got 1 columns instead of 5)
    Line #6581 (got 1 columns instead of 5)
    Line #6582 (got 1 columns instead of 5)
    Line #6583 (got 1 columns instead of 5)
    Line #6584 (got 1 columns instead of 5)
    Line #6585 (got 1 columns instead of 5)
    Line #6586 (got 1 columns instead of 5)
    Line #6587 (got 1 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)
<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #15608 (got 4 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)

(13820, 5)
(15600, 5)
(15300, 5)
(13480, 5)
(22460, 5)
(21140, 5)
(15300, 5)
(15940, 5)

<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #15948 (got 4 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)

(14520, 5)
(22860, 5)
(5681, 5)
(5343, 5)

<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #5689 (got 1 columns instead of 5)
    Line #5690 (got 1 columns instead of 5)
    Line #5691 (got 1 columns instead of 5)
    Line #5692 (got 1 columns instead of 5)
    Line #5693 (got 1 columns instead of 5)
    Line #5694 (got 1 columns instead of 5)
    Line #5695 (got 1 columns instead of 5)
    Line #5696 (got 1 columns instead of 5)
    Line #5697 (got 1 columns instead of 5)
    Line #5698 (got 1 columns instead of 5)
    Line #5699 (got 1 columns instead of 5)
    Line #5700 (got 1 columns instead of 5)
    Line #5701 (got 1 columns instead of 5)
    Line #5702 (got 1 columns instead of 5)
    Line #5703 (got 1 columns instead of 5)
    Line #5704 (got 1 columns instead of 5)
    Line #5705 (got 1 columns instead of 5)
    Line #5706 (got 1 columns instead of 5)
    Line #5707 (got 1 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)
<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #5351 (got 1 columns instead of 5)
    Line #5352 (got 1 columns instead of 5)
    Line #5353 (got 1 columns instead of 5)
    Line #5354 (got 1 columns instead of 5)
    Line #5355 (got 1 columns instead of 5)
    Line #5356 (got 1 columns instead of 5)
    Line #5357 (got 1 columns instead of 5)
    Line #5358 (got 1 columns instead of 5)
    Line #5359 (got 1 columns instead of 5)
    Line #5360 (got 1 columns instead of 5)
    Line #5361 (got 1 columns instead of 5)
    Line #5362 (got 1 columns instead of 5)
    Line #5363 (got 1 columns instead of 5)
    Line #5364 (got 1 columns instead of 5)
    Line #5365 (got 1 columns instead of 5)
    Line #5366 (got 1 columns instead of 5)
    Line #5367 (got 1 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)

(29220, 5)
(14520, 5)
(7384, 5)

<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #7392 (got 1 columns instead of 5)
    Line #7393 (got 1 columns instead of 5)
    Line #7394 (got 1 columns instead of 5)
    Line #7395 (got 1 columns instead of 5)
    Line #7396 (got 1 columns instead of 5)
    Line #7397 (got 1 columns instead of 5)
    Line #7398 (got 1 columns instead of 5)
    Line #7399 (got 1 columns instead of 5)
    Line #7400 (got 1 columns instead of 5)
    Line #7401 (got 1 columns instead of 5)
    Line #7402 (got 1 columns instead of 5)
    Line #7403 (got 1 columns instead of 5)
    Line #7404 (got 1 columns instead of 5)
    Line #7405 (got 1 columns instead of 5)
    Line #7406 (got 1 columns instead of 5)
    Line #7407 (got 1 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)

(36900, 5)
(5845, 5)
(9227, 5)
(18340, 5)

<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #5853 (got 1 columns instead of 5)
    Line #5854 (got 1 columns instead of 5)
    Line #5855 (got 1 columns instead of 5)
    Line #5856 (got 1 columns instead of 5)
    Line #5857 (got 1 columns instead of 5)
    Line #5858 (got 1 columns instead of 5)
    Line #5859 (got 1 columns instead of 5)
    Line #5860 (got 1 columns instead of 5)
    Line #5861 (got 1 columns instead of 5)
    Line #5862 (got 1 columns instead of 5)
    Line #5863 (got 1 columns instead of 5)
    Line #5864 (got 1 columns instead of 5)
    Line #5865 (got 1 columns instead of 5)
    Line #5866 (got 1 columns instead of 5)
    Line #5867 (got 1 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)
<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #9235 (got 1 columns instead of 5)
    Line #9236 (got 1 columns instead of 5)
    Line #9237 (got 1 columns instead of 5)
    Line #9238 (got 1 columns instead of 5)
    Line #9239 (got 1 columns instead of 5)
    Line #9240 (got 1 columns instead of 5)
    Line #9241 (got 1 columns instead of 5)
    Line #9242 (got 1 columns instead of 5)
    Line #9243 (got 1 columns instead of 5)
    Line #9244 (got 1 columns instead of 5)
    Line #9245 (got 1 columns instead of 5)
    Line #9246 (got 1 columns instead of 5)
    Line #9247 (got 1 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)
<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #24168 (got 4 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)

(24160, 5)
(8147, 5)
(20500, 5)
(15480, 5)
(7300, 5)

<ipython-input-28-6a39897c9eb9>:9: ConversionWarning: Some errors were detected !
    Line #7308 (got 1 columns instead of 5)
    Line #7309 (got 1 columns instead of 5)
    Line #7310 (got 1 columns instead of 5)
    Line #7311 (got 1 columns instead of 5)
    Line #7312 (got 1 columns instead of 5)
    Line #7313 (got 1 columns instead of 5)
    Line #7314 (got 1 columns instead of 5)
    Line #7315 (got 1 columns instead of 5)
    Line #7316 (got 1 columns instead of 5)
    Line #7317 (got 1 columns instead of 5)
    Line #7318 (got 1 columns instead of 5)
    Line #7319 (got 1 columns instead of 5)
    Line #7320 (got 1 columns instead of 5)
    Line #7321 (got 1 columns instead of 5)
    Line #7322 (got 1 columns instead of 5)
    Line #7323 (got 1 columns instead of 5)
    Line #7324 (got 1 columns instead of 5)
    Line #7325 (got 1 columns instead of 5)
    Line #7326 (got 1 columns instead of 5)
    Line #7327 (got 1 columns instead of 5)
  sarray = np.genfromtxt(f'/content/drive/MyDrive/SEMG_DB1/N_TXT/{filename}', skip_header=7, invalid_raise=False)

In [ ]:
## sEMG Plot Function from text file

class sEMGData:
    
    def __init__(self, path,names):
        self.path = path
        
        # file name
        f = open(path, 'r')
        basename = os.path.basename(f.name)
        if names == 'N_TXT':
          self.output = 1
        else:
          self.output = 0 
              
        # invalid_raise - sk
        # numpy array
       
        self.array = np.genfromtxt(self.path, skip_header=7, invalid_raise=False)
        if self.array.shape[1] == 6:
          self.array = self.array[:,:5]
        # DataFrame
        self.dataframe = pd.DataFrame(self.array, columns=['RF','BF','VM','ST','FX'])
        
    def return_array(self):
        
        return self.array
    
    def return_df(self):
        
        return self.dataframe
    
    def return_output(self):
        return self.output
    
    def plot_RF(self):
        
        plt.plot(self.dataframe['RF'])
        plt.title('RF - rectus femoris')
        plt.show()
        
    def plot_BF(self):
        
        plt.plot(self.dataframe['BF'])
        plt.title('BF - biceps femoris')
        plt.show()
        
    def plot_VM(self):
        
        plt.plot(self.dataframe['VM'])
        plt.title('VM - vastus internus')
        plt.show()
        
    def plot_ST(self):
        
        plt.plot(self.dataframe['ST'])
        plt.title('ST - semitendinosus')
        plt.show()
        
    def plot_FX(self):
        
        plt.plot(self.dataframe['FX'])
        plt.title('FX - knee flexion ()')
        plt.show()  
    
    def sEMG_plot(self):
        
        # Plot individual sEMG data
        
        plt.plot(self.dataframe['RF'])
        plt.title('RF - rectus femoris')
        plt.show()
        
        plt.plot(self.dataframe['BF'])
        plt.title('BF - biceps femoris')
        plt.show()
        
        plt.plot(self.dataframe['VM'])
        plt.title('VM - vastus internus')
        plt.show()
        
        plt.plot(self.dataframe['ST'])
        plt.title('ST - semitendinosus')
        plt.show()
        
        plt.plot(self.dataframe['FX'])
        plt.title('FX - knee flexion ()')
        plt.show()

In [ ]:
# instantiate sEMGData

# Marching or Walking data
# /content/drive/MyDrive/SEMG_DB1/A_TXT/
nmar_data = sEMGData('/content/drive/MyDrive/SEMG_DB1/N_TXT/10Nmar.txt','N_TXT')
# nmar_data = sEMGData(a_data,'A_TXT')

print(nmar_data.return_output())
#  print(nmar_data.return_array())
arr = nmar_data.return_array()
df = nmar_data.return_df()
# nmar_data.sEMG_plot()
df

1

<ipython-input-5-ed40f00f13e5>:19: ConversionWarning: Some errors were detected !
    Line #5853 (got 1 columns instead of 5)
    Line #5854 (got 1 columns instead of 5)
    Line #5855 (got 1 columns instead of 5)
    Line #5856 (got 1 columns instead of 5)
    Line #5857 (got 1 columns instead of 5)
    Line #5858 (got 1 columns instead of 5)
    Line #5859 (got 1 columns instead of 5)
    Line #5860 (got 1 columns instead of 5)
    Line #5861 (got 1 columns instead of 5)
    Line #5862 (got 1 columns instead of 5)
    Line #5863 (got 1 columns instead of 5)
    Line #5864 (got 1 columns instead of 5)
    Line #5865 (got 1 columns instead of 5)
    Line #5866 (got 1 columns instead of 5)
    Line #5867 (got 1 columns instead of 5)
  self.array = np.genfromtxt(self.path, skip_header=7, invalid_raise=False)

          RF      BF      VM      ST   FX
0    -0.0015  0.0000  0.0007  0.0000 -1.0
1    -0.0008  0.0015  0.0030 -0.0015 -1.0
2     0.0007  0.0015  0.0037 -0.0023 -1.0
3    -0.0008  0.0000  0.0022 -0.0015 -1.0
4     0.0000 -0.0008  0.0030 -0.0008 -1.0
...      ...     ...     ...     ...  ...
5840 -0.0053  0.0255 -0.0098 -0.0030  3.9
5841 -0.0053  0.0240 -0.0105 -0.0053  3.9
5842 -0.0105  0.0127 -0.0240 -0.0053  3.9
5843 -0.0105  0.0090 -0.0413 -0.0038  3.9
5844  0.0037  0.0225 -0.0120  0.0090  3.9

[5845 rows x 5 columns]

In [ ]:
input_array = []
classes = []

# iterates through folder
def extract_data(data_type,A_OR_N):  
  for filename in os.listdir(data_type):
      if filename.endswith('.txt'):
          # instantiates each sEMG data
          sEMGA = sEMGData(data_type + filename,f'{A_OR_N}_TXT')
          
          input_array.append(sEMGA.return_array())
          classes.append(sEMGA.return_output())
  return input_array, classes

def make_total_df(input_array):
  df = pd.DataFrame(input_array[0],columns=['RF','BF','VM','ST','FX'])

  for i in range(1,33):
   rr =  pd.DataFrame(input_array[i],columns=['RF','BF','VM','ST','FX'])
   df = pd.concat([df,rr])
  return df

In [ ]:
# abnormal data frame 
data, classes = extract_data(a_data,'A')
a_df = make_total_df(data)
a_df

           RF      BF      VM      ST    FX
0      0.0000  0.0052  0.0007 -0.0030  -4.6
1     -0.0015 -0.0068  0.0030 -0.0091  -4.5
2     -0.0053 -0.0458 -0.0008 -0.0098  -4.6
3     -0.0068 -0.0398 -0.0008 -0.0068  -4.6
4     -0.0030 -0.0368 -0.0038 -0.0046  -4.5
...       ...     ...     ...     ...   ...
22891  0.0007  0.0030 -0.0038 -0.0143  27.9
22892  0.0015 -0.0091 -0.0030 -0.0091  27.4
22893  0.0000  0.0007 -0.0046 -0.0008  27.3
22894  0.0000 -0.0030 -0.0053 -0.0053  26.9
22895 -0.0008 -0.0120 -0.0053  0.0165  26.9

[850515 rows x 5 columns]

In [ ]:
a_df.shape , nnnn.shape

((850515, 5), (469716, 5))

In [ ]:
a_df['target'] , nnnn['target'] = 1 , 0

In [ ]:
nnnn.columns = ['RF','BF','VM','ST','FX','target']

In [ ]:
dataset1 = pd.concat([a_df,nnnn])
dataset1.reset_index()
dataset1.head()

       RF      BF      VM      ST   FX  target
0  0.0000  0.0052  0.0007 -0.0030 -4.6       1
1 -0.0015 -0.0068  0.0030 -0.0091 -4.5       1
2 -0.0053 -0.0458 -0.0008 -0.0098 -4.6       1
3 -0.0068 -0.0398 -0.0008 -0.0068 -4.6       1
4 -0.0030 -0.0368 -0.0038 -0.0046 -4.5       1

In [ ]:
dataset1.target.value_counts()

1    850515
0    469716
Name: target, dtype: int64

In [ ]:
os.chdir('/content/drive/MyDrive/')
os.getcwd()
# os.mkdir('datapkle')
! cd '/content/drive/MyDrive/datapkle'
os.getcwd()

'/content/drive/MyDrive'

In [ ]:
import pickle 
dataset1.to_pickle('/content/drive/MyDrive/datapkle/dd.pkl')

In [ ]:
import pickle 
dataset = pd.read_pickle('/content/drive/MyDrive/datapkle/dd.pkl')
dataset.head()

       RF      BF      VM      ST   FX  target
0  0.0000  0.0052  0.0007 -0.0030 -4.6       1
1 -0.0015 -0.0068  0.0030 -0.0091 -4.5       1
2 -0.0053 -0.0458 -0.0008 -0.0098 -4.6       1
3 -0.0068 -0.0398 -0.0008 -0.0068 -4.6       1
4 -0.0030 -0.0368 -0.0038 -0.0046 -4.5       1

In [ ]:
dataset = a_df.groupby(['target'])

In [ ]:
df=pd.DataFrame({ 'x':range(30),'f':range(30) })
df = df.rolling(10).mean()           # version 0.18.0 syntax
df1 = df[4::5]                             # take every 5th row

#        x
# 4    NaN
# 9    4.5
# 14   9.5
# 19  14.5
# 24  19.5
# 29  24.5

In [ ]:
##functions for extracting sEMG features
def rms(data): ##root mean square
      return  np.sqrt(np.mean(data**2,axis=0))  

def SSI(data): ##Simple Square Integral
    return np.sum(data**2,axis=0)

def abs_diffs_signal(data): ##absolute differential signal
    return np.sum(np.abs(np.diff(data,axis=0)),axis=0)

##function for returning an estimator class name 
def print_estimator_name(estimator):
    return estimator.__class__.__name__

In [ ]:
a_df.isnull().sum()

RF    0
BF    0
VM    0
ST    0
FX    0
dtype: int64

In [ ]:
dataset

  index target        RF                                      BF               \
                     rms          SSI abs_diffs_signal       rms          SSI
0     0      0  0.061495  3197.387299        7489.7953  0.035077  1040.328218
1     1      1  0.006748     0.227786          10.5177  0.037015     6.854727

                          VM                                      ST  \
  abs_diffs_signal       rms          SSI abs_diffs_signal       rms
0        8847.4462  0.073644  4585.621076        7962.1413  0.049487
1          62.9542  0.012347     0.762687          16.9374  0.070093

                                       FX
          SSI abs_diffs_signal        rms           SSI abs_diffs_signal
0  2070.63240       12863.9482  47.364083  1.896785e+09         136193.7
1    24.57989         112.7927  81.745541  3.343171e+07            646.7

In [ ]:
dataset.shape

(2, 17)

In [ ]:
for i in input_array:
  print(i.shape)

(10659, 5)
(5890, 5)
(16848, 5)
(9539, 5)
(6922, 5)
(16860, 5)
(7522, 5)
(15260, 5)
(6563, 5)
(13820, 5)
(15600, 5)
(15300, 5)
(13480, 5)
(22460, 5)
(21140, 5)
(15300, 5)
(15940, 5)
(14520, 5)
(22860, 5)
(5681, 5)
(5343, 5)
(29220, 5)
(14520, 5)
(7384, 5)
(36900, 5)
(5845, 5)
(9227, 5)
(18340, 5)
(24160, 5)
(8147, 5)
(20500, 5)
(15480, 5)
(7300, 5)

In [ ]:
for i in input_array:
    # zero numpy array
    zero_array = np.zeros(largest_array.shape)
    zero_array[:i.shape[0],:i.shape[1]] = i

In [ ]:
padded_array = []
padded_array.append(zero_array)

In [ ]:
padded_array

[array([[-8.00e-04, -4.60e-03,  3.00e-03, -9.80e-03, -5.91e+01],
        [ 7.00e-04, -5.30e-03,  1.50e-03, -6.00e-03, -5.92e+01],
        [ 0.00e+00, -4.60e-03,  3.00e-03, -1.50e-03, -5.93e+01],
        ...,
        [ 0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00],
        [ 0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00],
        [ 0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00]])]

In [ ]:
padded_array = np.dstack(padded_array)

In [ ]:
padded_array

array([[[-8.00e-04],
        [-4.60e-03],
        [ 3.00e-03],
        [-9.80e-03],
        [-5.91e+01]],

       [[ 7.00e-04],
        [-5.30e-03],
        [ 1.50e-03],
        [-6.00e-03],
        [-5.92e+01]],

       [[ 0.00e+00],
        [-4.60e-03],
        [ 3.00e-03],
        [-1.50e-03],
        [-5.93e+01]],

       ...,

       [[ 0.00e+00],
        [ 0.00e+00],
        [ 0.00e+00],
        [ 0.00e+00],
        [ 0.00e+00]],

       [[ 0.00e+00],
        [ 0.00e+00],
        [ 0.00e+00],
        [ 0.00e+00],
        [ 0.00e+00]],

       [[ 0.00e+00],
        [ 0.00e+00],
        [ 0.00e+00],
        [ 0.00e+00],
        [ 0.00e+00]]])

In [ ]:
padded_array.shape

(36900, 5, 1)

In [ ]:
padded_array = padded_array.transpose(0,2,1)

In [ ]:
padded_array

array([[[-8.00e-04, -4.60e-03,  3.00e-03, -9.80e-03, -5.91e+01]],

       [[ 7.00e-04, -5.30e-03,  1.50e-03, -6.00e-03, -5.92e+01]],

       [[ 0.00e+00, -4.60e-03,  3.00e-03, -1.50e-03, -5.93e+01]],

       ...,

       [[ 0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00]],

       [[ 0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00]],

       [[ 0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00,  0.00e+00]]])

In [ ]:
padded_array.shape

(36900, 1, 5)

In [ ]:

# Preprocessing Function

def preprocess(folder, names):
    
    input_array = []
    classes = []
    
    # iterates through folder
    for filename in os.listdir(folder):
        if filename.endswith('.txt'):
            # instantiates each sEMG data
            sEMG = sEMGData(folder + filename, names)
            
            input_array.append(sEMG.return_array())
            classes.append(sEMG.return_output())
    
    # finds the max length of a sEMG sequence 
    max_len = max([len(i) for i in input_array])
    
    for i in input_array:
        if (len(i) == max_len):
            largest_array = i
    
    # list of padded sEMG numpy arrays
    padded_array = []
    
    # loop through input_array and append into new padded array
    for i in input_array:
        # zero numpy array
        zero_array = np.zeros(largest_array.shape)
        zero_array[:i.shape[0],:i.shape[1]] = i

        padded_array.append(zero_array)
    
    # convert to 3d numpy array
    padded_array = np.dstack(padded_array)
    
    # transpose array
    padded_array = padded_array.transpose(2,0,1)
    
    return padded_array, classes

In [ ]:
input_normal_array, normal_classes = preprocess(file_path, 'N_TXT')
input_abnormal_array, abnormal_classes = preprocess(abnormal_path, 'A_TXT')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #9547 (got 1 columns instead of 5)
    Line #9548 (got 1 columns instead of 5)
    Line #9549 (got 1 columns instead of 5)
    Line #9550 (got 1 columns instead of 5)
    Line #9551 (got 1 columns instead of 5)
    Line #9552 (got 1 columns instead of 5)
    Line #9553 (got 1 columns instead of 5)
    Line #9554 (got 1 columns instead of 5)
    Line #9555 (got 1 columns instead of 5)
    Line #9556 (got 1 columns instead of 5)
    Line #9557 (got 1 columns instead of 5)
    Line #9558 (got 1 columns instead of 5)
    Line #9559 (got 1 columns instead of 5)
    Line #9560 (got 1 columns instead of 5)
    Line #9561 (got 1 columns instead of 5)
    Line #9562 (got 1 columns instead of 5)
    Line #9563 (got 1 columns instead of 5)
    Line #9564 (got 1 columns instead of 5)
    Line #9565 (got 1 columns instead of 5)
    Line #9566 (got 1 columns instead of 5)
    Line #9567 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #6930 (got 1 columns instead of 5)
    Line #6931 (got 1 columns instead of 5)
    Line #6932 (got 1 columns instead of 5)
    Line #6933 (got 1 columns instead of 5)
    Line #6934 (got 1 columns instead of 5)
    Line #6935 (got 1 columns instead of 5)
    Line #6936 (got 1 columns instead of 5)
    Line #6937 (got 1 columns instead of 5)
    Line #6938 (got 1 columns instead of 5)
    Line #6939 (got 1 columns instead of 5)
    Line #6940 (got 1 columns instead of 5)
    Line #6941 (got 1 columns instead of 5)
    Line #6942 (got 1 columns instead of 5)
    Line #6943 (got 1 columns instead of 5)
    Line #6944 (got 1 columns instead of 5)
    Line #6945 (got 1 columns instead of 5)
    Line #6946 (got 1 columns instead of 5)
    Line #6947 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #7530 (got 1 columns instead of 5)
    Line #7531 (got 1 columns instead of 5)
    Line #7532 (got 1 columns instead of 5)
    Line #7533 (got 1 columns instead of 5)
    Line #7534 (got 1 columns instead of 5)
    Line #7535 (got 1 columns instead of 5)
    Line #7536 (got 1 columns instead of 5)
    Line #7537 (got 1 columns instead of 5)
    Line #7538 (got 1 columns instead of 5)
    Line #7539 (got 1 columns instead of 5)
    Line #7540 (got 1 columns instead of 5)
    Line #7541 (got 1 columns instead of 5)
    Line #7542 (got 1 columns instead of 5)
    Line #7543 (got 1 columns instead of 5)
    Line #7544 (got 1 columns instead of 5)
    Line #7545 (got 1 columns instead of 5)
    Line #7546 (got 1 columns instead of 5)
    Line #7547 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #6571 (got 1 columns instead of 5)
    Line #6572 (got 1 columns instead of 5)
    Line #6573 (got 1 columns instead of 5)
    Line #6574 (got 1 columns instead of 5)
    Line #6575 (got 1 columns instead of 5)
    Line #6576 (got 1 columns instead of 5)
    Line #6577 (got 1 columns instead of 5)
    Line #6578 (got 1 columns instead of 5)
    Line #6579 (got 1 columns instead of 5)
    Line #6580 (got 1 columns instead of 5)
    Line #6581 (got 1 columns instead of 5)
    Line #6582 (got 1 columns instead of 5)
    Line #6583 (got 1 columns instead of 5)
    Line #6584 (got 1 columns instead of 5)
    Line #6585 (got 1 columns instead of 5)
    Line #6586 (got 1 columns instead of 5)
    Line #6587 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #15608 (got 4 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #15948 (got 4 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #5689 (got 1 columns instead of 5)
    Line #5690 (got 1 columns instead of 5)
    Line #5691 (got 1 columns instead of 5)
    Line #5692 (got 1 columns instead of 5)
    Line #5693 (got 1 columns instead of 5)
    Line #5694 (got 1 columns instead of 5)
    Line #5695 (got 1 columns instead of 5)
    Line #5696 (got 1 columns instead of 5)
    Line #5697 (got 1 columns instead of 5)
    Line #5698 (got 1 columns instead of 5)
    Line #5699 (got 1 columns instead of 5)
    Line #5700 (got 1 columns instead of 5)
    Line #5701 (got 1 columns instead of 5)
    Line #5702 (got 1 columns instead of 5)
    Line #5703 (got 1 columns instead of 5)
    Line #5704 (got 1 columns instead of 5)
    Line #5705 (got 1 columns instead of 5)
    Line #5706 (got 1 columns instead of 5)
    Line #5707 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #5351 (got 1 columns instead of 5)
    Line #5352 (got 1 columns instead of 5)
    Line #5353 (got 1 columns instead of 5)
    Line #5354 (got 1 columns instead of 5)
    Line #5355 (got 1 columns instead of 5)
    Line #5356 (got 1 columns instead of 5)
    Line #5357 (got 1 columns instead of 5)
    Line #5358 (got 1 columns instead of 5)
    Line #5359 (got 1 columns instead of 5)
    Line #5360 (got 1 columns instead of 5)
    Line #5361 (got 1 columns instead of 5)
    Line #5362 (got 1 columns instead of 5)
    Line #5363 (got 1 columns instead of 5)
    Line #5364 (got 1 columns instead of 5)
    Line #5365 (got 1 columns instead of 5)
    Line #5366 (got 1 columns instead of 5)
    Line #5367 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #7392 (got 1 columns instead of 5)
    Line #7393 (got 1 columns instead of 5)
    Line #7394 (got 1 columns instead of 5)
    Line #7395 (got 1 columns instead of 5)
    Line #7396 (got 1 columns instead of 5)
    Line #7397 (got 1 columns instead of 5)
    Line #7398 (got 1 columns instead of 5)
    Line #7399 (got 1 columns instead of 5)
    Line #7400 (got 1 columns instead of 5)
    Line #7401 (got 1 columns instead of 5)
    Line #7402 (got 1 columns instead of 5)
    Line #7403 (got 1 columns instead of 5)
    Line #7404 (got 1 columns instead of 5)
    Line #7405 (got 1 columns instead of 5)
    Line #7406 (got 1 columns instead of 5)
    Line #7407 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #5853 (got 1 columns instead of 5)
    Line #5854 (got 1 columns instead of 5)
    Line #5855 (got 1 columns instead of 5)
    Line #5856 (got 1 columns instead of 5)
    Line #5857 (got 1 columns instead of 5)
    Line #5858 (got 1 columns instead of 5)
    Line #5859 (got 1 columns instead of 5)
    Line #5860 (got 1 columns instead of 5)
    Line #5861 (got 1 columns instead of 5)
    Line #5862 (got 1 columns instead of 5)
    Line #5863 (got 1 columns instead of 5)
    Line #5864 (got 1 columns instead of 5)
    Line #5865 (got 1 columns instead of 5)
    Line #5866 (got 1 columns instead of 5)
    Line #5867 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #9235 (got 1 columns instead of 5)
    Line #9236 (got 1 columns instead of 5)
    Line #9237 (got 1 columns instead of 5)
    Line #9238 (got 1 columns instead of 5)
    Line #9239 (got 1 columns instead of 5)
    Line #9240 (got 1 columns instead of 5)
    Line #9241 (got 1 columns instead of 5)
    Line #9242 (got 1 columns instead of 5)
    Line #9243 (got 1 columns instead of 5)
    Line #9244 (got 1 columns instead of 5)
    Line #9245 (got 1 columns instead of 5)
    Line #9246 (got 1 columns instead of 5)
    Line #9247 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #24168 (got 4 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #7308 (got 1 columns instead of 5)
    Line #7309 (got 1 columns instead of 5)
    Line #7310 (got 1 columns instead of 5)
    Line #7311 (got 1 columns instead of 5)
    Line #7312 (got 1 columns instead of 5)
    Line #7313 (got 1 columns instead of 5)
    Line #7314 (got 1 columns instead of 5)
    Line #7315 (got 1 columns instead of 5)
    Line #7316 (got 1 columns instead of 5)
    Line #7317 (got 1 columns instead of 5)
    Line #7318 (got 1 columns instead of 5)
    Line #7319 (got 1 columns instead of 5)
    Line #7320 (got 1 columns instead of 5)
    Line #7321 (got 1 columns instead of 5)
    Line #7322 (got 1 columns instead of 5)
    Line #7323 (got 1 columns instead of 5)
    Line #7324 (got 1 columns instead of 5)
    Line #7325 (got 1 columns instead of 5)
    Line #7326 (got 1 columns instead of 5)
    Line #7327 (got 1 columns instead of 5)

In [ ]:

# Preprocessing Function

def preprocess(folder1, folder2):
    
    input_array = []
    classes = []
    
    # iterates through folder1 N 
    for filename in os.listdir(folder1):
        if filename.endswith('.txt'):
            # instantiates each sEMG data
            sEMG = sEMGData(folder1 + filename, "N_TXT")
            
            input_array.append(sEMG.return_array())
            classes.append(sEMG.return_output())

     # iterates through folder
    for filename in os.listdir(folder2):
        if filename.endswith('.txt'):
            # instantiates each sEMG data
            sEMG = sEMGData(folder2 + filename, "A_TXT")
            
            input_array.append(sEMG.return_array())
            classes.append(sEMG.return_output())

    # finds the max length of a sEMG sequence 
    max_len = max([len(i) for i in input_array])
    
    for i in input_array:
        if (len(i) == max_len):
            largest_array = i
    
    # list of padded sEMG numpy arrays
    padded_array = []
    
    # loop through input_array and append into new padded array
    for i in input_array:
        # zero numpy array
        zero_array = np.zeros(largest_array.shape)
        zero_array[:i.shape[0],:i.shape[1]] = i

        padded_array.append(zero_array)
    
    # convert to 3d numpy array
    padded_array = np.dstack(padded_array)
    
    # transpose array
    padded_array = padded_array.transpose(2,0,1)
    
    return padded_array, classes

In [ ]:
input_array,classes = preprocess(file_path, abnormal_path)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #9547 (got 1 columns instead of 5)
    Line #9548 (got 1 columns instead of 5)
    Line #9549 (got 1 columns instead of 5)
    Line #9550 (got 1 columns instead of 5)
    Line #9551 (got 1 columns instead of 5)
    Line #9552 (got 1 columns instead of 5)
    Line #9553 (got 1 columns instead of 5)
    Line #9554 (got 1 columns instead of 5)
    Line #9555 (got 1 columns instead of 5)
    Line #9556 (got 1 columns instead of 5)
    Line #9557 (got 1 columns instead of 5)
    Line #9558 (got 1 columns instead of 5)
    Line #9559 (got 1 columns instead of 5)
    Line #9560 (got 1 columns instead of 5)
    Line #9561 (got 1 columns instead of 5)
    Line #9562 (got 1 columns instead of 5)
    Line #9563 (got 1 columns instead of 5)
    Line #9564 (got 1 columns instead of 5)
    Line #9565 (got 1 columns instead of 5)
    Line #9566 (got 1 columns instead of 5)
    Line #9567 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #6930 (got 1 columns instead of 5)
    Line #6931 (got 1 columns instead of 5)
    Line #6932 (got 1 columns instead of 5)
    Line #6933 (got 1 columns instead of 5)
    Line #6934 (got 1 columns instead of 5)
    Line #6935 (got 1 columns instead of 5)
    Line #6936 (got 1 columns instead of 5)
    Line #6937 (got 1 columns instead of 5)
    Line #6938 (got 1 columns instead of 5)
    Line #6939 (got 1 columns instead of 5)
    Line #6940 (got 1 columns instead of 5)
    Line #6941 (got 1 columns instead of 5)
    Line #6942 (got 1 columns instead of 5)
    Line #6943 (got 1 columns instead of 5)
    Line #6944 (got 1 columns instead of 5)
    Line #6945 (got 1 columns instead of 5)
    Line #6946 (got 1 columns instead of 5)
    Line #6947 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #7530 (got 1 columns instead of 5)
    Line #7531 (got 1 columns instead of 5)
    Line #7532 (got 1 columns instead of 5)
    Line #7533 (got 1 columns instead of 5)
    Line #7534 (got 1 columns instead of 5)
    Line #7535 (got 1 columns instead of 5)
    Line #7536 (got 1 columns instead of 5)
    Line #7537 (got 1 columns instead of 5)
    Line #7538 (got 1 columns instead of 5)
    Line #7539 (got 1 columns instead of 5)
    Line #7540 (got 1 columns instead of 5)
    Line #7541 (got 1 columns instead of 5)
    Line #7542 (got 1 columns instead of 5)
    Line #7543 (got 1 columns instead of 5)
    Line #7544 (got 1 columns instead of 5)
    Line #7545 (got 1 columns instead of 5)
    Line #7546 (got 1 columns instead of 5)
    Line #7547 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #6571 (got 1 columns instead of 5)
    Line #6572 (got 1 columns instead of 5)
    Line #6573 (got 1 columns instead of 5)
    Line #6574 (got 1 columns instead of 5)
    Line #6575 (got 1 columns instead of 5)
    Line #6576 (got 1 columns instead of 5)
    Line #6577 (got 1 columns instead of 5)
    Line #6578 (got 1 columns instead of 5)
    Line #6579 (got 1 columns instead of 5)
    Line #6580 (got 1 columns instead of 5)
    Line #6581 (got 1 columns instead of 5)
    Line #6582 (got 1 columns instead of 5)
    Line #6583 (got 1 columns instead of 5)
    Line #6584 (got 1 columns instead of 5)
    Line #6585 (got 1 columns instead of 5)
    Line #6586 (got 1 columns instead of 5)
    Line #6587 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #15608 (got 4 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #15948 (got 4 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #5689 (got 1 columns instead of 5)
    Line #5690 (got 1 columns instead of 5)
    Line #5691 (got 1 columns instead of 5)
    Line #5692 (got 1 columns instead of 5)
    Line #5693 (got 1 columns instead of 5)
    Line #5694 (got 1 columns instead of 5)
    Line #5695 (got 1 columns instead of 5)
    Line #5696 (got 1 columns instead of 5)
    Line #5697 (got 1 columns instead of 5)
    Line #5698 (got 1 columns instead of 5)
    Line #5699 (got 1 columns instead of 5)
    Line #5700 (got 1 columns instead of 5)
    Line #5701 (got 1 columns instead of 5)
    Line #5702 (got 1 columns instead of 5)
    Line #5703 (got 1 columns instead of 5)
    Line #5704 (got 1 columns instead of 5)
    Line #5705 (got 1 columns instead of 5)
    Line #5706 (got 1 columns instead of 5)
    Line #5707 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #5351 (got 1 columns instead of 5)
    Line #5352 (got 1 columns instead of 5)
    Line #5353 (got 1 columns instead of 5)
    Line #5354 (got 1 columns instead of 5)
    Line #5355 (got 1 columns instead of 5)
    Line #5356 (got 1 columns instead of 5)
    Line #5357 (got 1 columns instead of 5)
    Line #5358 (got 1 columns instead of 5)
    Line #5359 (got 1 columns instead of 5)
    Line #5360 (got 1 columns instead of 5)
    Line #5361 (got 1 columns instead of 5)
    Line #5362 (got 1 columns instead of 5)
    Line #5363 (got 1 columns instead of 5)
    Line #5364 (got 1 columns instead of 5)
    Line #5365 (got 1 columns instead of 5)
    Line #5366 (got 1 columns instead of 5)
    Line #5367 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #7392 (got 1 columns instead of 5)
    Line #7393 (got 1 columns instead of 5)
    Line #7394 (got 1 columns instead of 5)
    Line #7395 (got 1 columns instead of 5)
    Line #7396 (got 1 columns instead of 5)
    Line #7397 (got 1 columns instead of 5)
    Line #7398 (got 1 columns instead of 5)
    Line #7399 (got 1 columns instead of 5)
    Line #7400 (got 1 columns instead of 5)
    Line #7401 (got 1 columns instead of 5)
    Line #7402 (got 1 columns instead of 5)
    Line #7403 (got 1 columns instead of 5)
    Line #7404 (got 1 columns instead of 5)
    Line #7405 (got 1 columns instead of 5)
    Line #7406 (got 1 columns instead of 5)
    Line #7407 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #5853 (got 1 columns instead of 5)
    Line #5854 (got 1 columns instead of 5)
    Line #5855 (got 1 columns instead of 5)
    Line #5856 (got 1 columns instead of 5)
    Line #5857 (got 1 columns instead of 5)
    Line #5858 (got 1 columns instead of 5)
    Line #5859 (got 1 columns instead of 5)
    Line #5860 (got 1 columns instead of 5)
    Line #5861 (got 1 columns instead of 5)
    Line #5862 (got 1 columns instead of 5)
    Line #5863 (got 1 columns instead of 5)
    Line #5864 (got 1 columns instead of 5)
    Line #5865 (got 1 columns instead of 5)
    Line #5866 (got 1 columns instead of 5)
    Line #5867 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #9235 (got 1 columns instead of 5)
    Line #9236 (got 1 columns instead of 5)
    Line #9237 (got 1 columns instead of 5)
    Line #9238 (got 1 columns instead of 5)
    Line #9239 (got 1 columns instead of 5)
    Line #9240 (got 1 columns instead of 5)
    Line #9241 (got 1 columns instead of 5)
    Line #9242 (got 1 columns instead of 5)
    Line #9243 (got 1 columns instead of 5)
    Line #9244 (got 1 columns instead of 5)
    Line #9245 (got 1 columns instead of 5)
    Line #9246 (got 1 columns instead of 5)
    Line #9247 (got 1 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #24168 (got 4 columns instead of 5)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: ConversionWarning: Some errors were detected !
    Line #7308 (got 1 columns instead of 5)
    Line #7309 (got 1 columns instead of 5)
    Line #7310 (got 1 columns instead of 5)
    Line #7311 (got 1 columns instead of 5)
    Line #7312 (got 1 columns instead of 5)
    Line #7313 (got 1 columns instead of 5)
    Line #7314 (got 1 columns instead of 5)
    Line #7315 (got 1 columns instead of 5)
    Line #7316 (got 1 columns instead of 5)
    Line #7317 (got 1 columns instead of 5)
    Line #7318 (got 1 columns instead of 5)
    Line #7319 (got 1 columns instead of 5)
    Line #7320 (got 1 columns instead of 5)
    Line #7321 (got 1 columns instead of 5)
    Line #7322 (got 1 columns instead of 5)
    Line #7323 (got 1 columns instead of 5)
    Line #7324 (got 1 columns instead of 5)
    Line #7325 (got 1 columns instead of 5)
    Line #7326 (got 1 columns instead of 5)
    Line #7327 (got 1 columns instead of 5)

In [ ]:
input_array.shape

(66, 69374, 5)

In [ ]:
abnormal_classes

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [ ]:
print(input_normal_array.shape)

(33, 36900, 5)

In [ ]:
input_normal_array[0].shape

(36900, 5)

In [ ]:
print(input_abnormal_array.shape)

(33, 69374, 5)

In [ ]:
input_abnormal_array[0].shape

(69374, 5)

In [ ]:
normal_classes = np.array(normal_classes)
abnormal_classes = np.array(abnormal_classes)
normal_classes.shape , abnormal_classes.shape

((33,), (33,))

In [ ]:
classes = np.array(classes)

In [ ]:
from sklearn.model_selection import train_test_split as ttf 
x_train, x_test, y_train, y_test = ttf(input_array,classes,shuffle=True, random_state=42)

In [ ]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((49, 69374, 5), (17, 69374, 5), (49,), (17,))

In [ ]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((24, 36900, 5), (9, 36900, 5), (24,), (9,))

In [ ]:
y_test

array([0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1])

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import Embedding
from keras.layers import LSTM

# Retrieve from input array shape
time_steps = x_train.shape[1]
n_features = x_train.shape[2]

# code for building an LSTM with 100 neurons and dropout.

model = Sequential()
model.add(LSTM(100, return_sequences=False, input_shape=(time_steps, n_features)))
model.add(Dropout(0.5))
#model.add(LSTM(100)) dramatically worse results
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])

In [ ]:
36900/16

2306.25

In [ ]:
model.fit(x_train, y_train, batch_size=16, epochs=20)

Epoch 1/20
4/4 [==============================] - 101s 24s/step - loss: 0.6980 - accuracy: 0.4082
Epoch 2/20
4/4 [==============================] - 94s 22s/step - loss: 0.6924 - accuracy: 0.4898
Epoch 3/20
4/4 [==============================] - 95s 23s/step - loss: 0.6866 - accuracy: 0.5306
Epoch 4/20
4/4 [==============================] - 94s 23s/step - loss: 0.6850 - accuracy: 0.4898
Epoch 5/20
4/4 [==============================] - 94s 22s/step - loss: 0.6932 - accuracy: 0.4898
Epoch 6/20
4/4 [==============================] - 94s 22s/step - loss: 0.6850 - accuracy: 0.5102
Epoch 7/20
4/4 [==============================] - 96s 23s/step - loss: 0.6872 - accuracy: 0.4286
Epoch 8/20
4/4 [==============================] - 93s 22s/step - loss: 0.6868 - accuracy: 0.5102
Epoch 9/20
4/4 [==============================] - 93s 22s/step - loss: 0.6875 - accuracy: 0.6327
Epoch 10/20
4/4 [==============================] - 93s 22s/step - loss: 0.6814 - accuracy: 0.5306
Epoch 11/20
4/4 [==============================] - 93s 22s/step - loss: 0.6833 - accuracy: 0.5102
Epoch 12/20
4/4 [==============================] - 93s 22s/step - loss: 0.6814 - accuracy: 0.5102
Epoch 13/20
4/4 [==============================] - 92s 22s/step - loss: 0.6845 - accuracy: 0.4490
Epoch 14/20
4/4 [==============================] - 93s 22s/step - loss: 0.6920 - accuracy: 0.5102
Epoch 15/20
4/4 [==============================] - 92s 22s/step - loss: 0.6817 - accuracy: 0.4898
Epoch 16/20
4/4 [==============================] - 92s 22s/step - loss: 0.6803 - accuracy: 0.4286
Epoch 17/20
4/4 [==============================] - 92s 22s/step - loss: 0.6800 - accuracy: 0.4286
Epoch 18/20
4/4 [==============================] - 93s 22s/step - loss: 0.6814 - accuracy: 0.5102
Epoch 19/20
4/4 [==============================] - 92s 22s/step - loss: 0.6832 - accuracy: 0.5102
Epoch 20/20
4/4 [==============================] - 92s 22s/step - loss: 0.6812 - accuracy: 0.5102

In [ ]:
model.save('modellstm.h5')

In [ ]:
! cp '/content/modellstm.h5' '/content/drive/MyDrive/SEMG_DB1'

In [ ]:
History.key()

NameError: ignored

In [ ]:

class sEMGData:

    def __init__(self, path):
        self.path = path

        # file name
        f = open(path, 'r')
        basename = os.path.basename(f.name)

        if 'mar' in basename:
            self.output = 'mar'
        elif 'pie' in basename:
            self.output = 'pie'
        elif 'sen' in basename:
            self.output = 'sen'

        # invalid_raise - sk
        # numpy array
        self.array = np.genfromtxt(self.path, skip_header=7, invalid_raise=False)
        # DataFrame
        self.dataframe = pd.DataFrame(self.array, columns=['RF','BF','VM','ST','FX'])

    def return_array(self):

        return self.array

    def return_df(self):

        return self.dataframe

    def return_output(self):
        return self.output

    def plot_RF(self):

        plt.plot(self.dataframe['RF'])
        plt.title('RF - rectus femoris')
        plt.show()

    def plot_BF(self):

        plt.plot(self.dataframe['BF'])
        plt.title('BF - biceps femoris')
        plt.show()

    def plot_VM(self):

        plt.plot(self.dataframe['VM'])
        plt.title('VM - vastus internus')
        plt.show()

    def plot_ST(self):

        plt.plot(self.dataframe['ST'])
        plt.title('ST - semitendinosus')
        plt.show()

    def plot_FX(self):

        plt.plot(self.dataframe['FX'])
        plt.title('FX - knee flexion ()')
        plt.show()

    def sEMG_plot(self):

        # Plot individual sEMG data

        plt.plot(self.dataframe['RF'])
        plt.title('RF - rectus femoris')
        plt.show()

        plt.plot(self.dataframe['BF'])
        plt.title('BF - biceps femoris')
        plt.show()

        plt.plot(self.dataframe['VM'])
        plt.title('VM - vastus internus')
        plt.show()

        plt.plot(self.dataframe['ST'])
        plt.title('ST - semitendinosus')
        plt.show()

        plt.plot(self.dataframe['FX'])
        plt.title('FX - knee flexion ()')
        plt.show()

# Preprocessing Function

def preprocess(folder):

    input_array = []
    classes = []

    # iterates through folder
    for filename in os.listdir(folder):
        if filename.endswith('.txt'):
            # instantiates each sEMG data
            sEMG = sEMGData(folder + filename)

            input_array.append(sEMG.return_array())
            classes.append(sEMG.return_output())

    # finds the max length of a sEMG sequence
    max_len = max([len(i) for i in input_array])

    for i in input_array:
        if (len(i) == max_len):
            largest_array = i

    # list of padded sEMG numpy arrays
    padded_array = []

    # loop through input_array and append into new padded array
    for i in input_array:
        # zero numpy array
        zero_array = np.zeros(largest_array.shape)
        zero_array[:i.shape[0],:i.shape[1]] = i

        padded_array.append(zero_array)

    # convert to 3d numpy array
    padded_array = np.dstack(padded_array)

    # transpose array
    padded_array = padded_array.transpose(2,0,1)

    return padded_array, classes
    
# Plotting function - based on muscle group

def plot_dataset(input_array, class_array, muscle_group):
    for i in range(0, len(input_array)):

        df = pd.DataFrame(input_array[i], columns=['RF','BF','VM','ST','FX'])

        # show plot of each rectus femoris sEMG data
        plt.plot(df[muscle_group])
        plt.title(muscle_group + ' - ' + class_array[i])
        plt.show()

## MOdel based github

In [ ]:
mm = np.loadtxt(
    '/content/drive/MyDrive/SEMG_DB1/A_TXT/10Amar.txt',
    dtype= 'float',
    comments='#',
    delimiter=None,
    converters=None,
    skiprows=7,
    usecols=(0,1,2,3,4),
    unpack=False,
    ndmin=0
)

In [ ]:
mm

array([[-4.60e-03, -2.30e-03,  0.00e+00,  7.00e-04,  1.15e+01],
       [-1.05e-02, -6.80e-03, -4.60e-03,  3.00e-03,  1.03e+01],
       [-8.30e-03, -4.60e-03, -4.60e-03,  2.20e-03,  1.05e+01],
       ...,
       [ 0.00e+00,  7.00e-04, -4.60e-03, -8.00e-04,  2.73e+01],
       [ 0.00e+00, -3.00e-03, -5.30e-03, -5.30e-03,  2.69e+01],
       [-8.00e-04, -1.20e-02, -5.30e-03,  1.65e-02,  2.69e+01]])

In [ ]:
import pandas as pd
from io import StringIO
import io
from keras.models import Sequential
from keras.layers import LSTM, Dense
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [ ]:

data="""SubjectID,Feat_1,Feat_2,Feat_X,Hr_count,Label
s0001,89,31,43,1,0
s0001,94,32,68,2,0
s0001,38,90,86,3,0
s0001,79,34,78,4,1
s0001,85,24,70,5,1
s0002,7 ,9 ,32,1,0
s0002,60,56,72,2,0
s0002,68,72,23,3,0
s0003,26,88,1 ,1,0
s0004,45,27,22,1,0
s0004,10,80,67,2,0
s0004,71,48,21,3,0
s0004,58,9 ,60,4,1
"""

df=pd.read_csv(io.StringIO(data),sep=",")
df.drop(columns='Hr_count',inplace=True)
encoder=LabelEncoder()
df['SubjectID']=encoder.fit_transform(df['SubjectID'])

print(df)

X_columns=[x for x in df.columns if x!='Label']
print(X_columns)
features=len(X_columns)
model = Sequential()
model.add(LSTM(100, activation='tanh', return_sequences=True, input_shape=(1, features)))
model.add(LSTM(49, activation='tanh'))
model.add(Dense(1, activation='sigmoid'))
history=model.compile(optimizer="rmsprop", loss='binary_crossentropy', metrics=['accuracy'])


grouped=df.groupby('SubjectID')

    SubjectID  Feat_1  Feat_2  Feat_X  Label
0           0      89      31      43      0
1           0      94      32      68      0
2           0      38      90      86      0
3           0      79      34      78      1
4           0      85      24      70      1
5           1       7       9      32      0
6           1      60      56      72      0
7           1      68      72      23      0
8           2      26      88       1      0
9           3      45      27      22      0
10          3      10      80      67      0
11          3      71      48      21      0
12          3      58       9      60      1
['SubjectID', 'Feat_1', 'Feat_2', 'Feat_X']

In [ ]:
for group in grouped:
    df_batch=pd.DataFrame(columns=['SubjectID','Feat_1','Feat_2','Feat_X','Hr_count','Label'])
    for subjectID in group:
        filter=df['SubjectID']==subjectID 
        for key,item in df[filter].dropna().iterrows():
            df_batch=df_batch.append({'SubjectID':item['SubjectID'],'Feat_1':item['Feat_1'],'Feat_2':item['Feat_2'],'Feat_X':item['Feat_X'],'Label':item['Label']},ignore_index=True)
    #print("\n",df_batch)
    X=df_batch[X_columns]
    X = np.asarray(X).astype(np.float32)
    X = np.resize(X,(X.shape[0],1,X.shape[1]))
    y=df_batch['Label']
    y = np.asarray(y).astype(np.float32)
    print("\n",X)
    model.fit(X,y,batch_size=len(X), 
          epochs=10)

<ipython-input-3-8d221dcc1cb4>:4: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  filter=df['SubjectID']==subjectID

 [[[ 0. 89. 31. 43.]]

 [[ 0. 94. 32. 68.]]

 [[ 0. 38. 90. 86.]]

 [[ 0. 79. 34. 78.]]

 [[ 0. 85. 24. 70.]]]
Epoch 1/10
1/1 [==============================] - 5s 5s/step - loss: 0.6989 - accuracy: 0.4000
Epoch 2/10
1/1 [==============================] - 0s 11ms/step - loss: 0.6715 - accuracy: 0.6000
Epoch 3/10
1/1 [==============================] - 0s 11ms/step - loss: 0.6519 - accuracy: 0.8000
Epoch 4/10
1/1 [==============================] - 0s 14ms/step - loss: 0.6332 - accuracy: 0.8000
Epoch 5/10
1/1 [==============================] - 0s 13ms/step - loss: 0.6133 - accuracy: 1.0000
Epoch 6/10
1/1 [==============================] - 0s 10ms/step - loss: 0.5909 - accuracy: 1.0000
Epoch 7/10
1/1 [==============================] - 0s 10ms/step - loss: 0.5659 - accuracy: 1.0000
Epoch 8/10
1/1 [==============================] - 0s 11ms/step - loss: 0.5400 - accuracy: 1.0000
Epoch 9/10
1/1 [==============================] - 0s 19ms/step - loss: 0.5141 - accuracy: 1.0000
Epoch 10/10
1/1 [==============================] - 0s 10ms/step - loss: 0.4872 - accuracy: 1.0000

 [[[ 1.  7.  9. 32.]]

 [[ 1. 60. 56. 72.]]

 [[ 1. 68. 72. 23.]]]
Epoch 1/10
1/1 [==============================] - 2s 2s/step - loss: 0.5112 - accuracy: 1.0000
Epoch 2/10
1/1 [==============================] - 0s 13ms/step - loss: 0.4071 - accuracy: 1.0000
Epoch 3/10
1/1 [==============================] - 0s 13ms/step - loss: 0.3447 - accuracy: 1.0000
Epoch 4/10
1/1 [==============================] - 0s 13ms/step - loss: 0.2977 - accuracy: 1.0000
Epoch 5/10
1/1 [==============================] - 0s 13ms/step - loss: 0.2592 - accuracy: 1.0000
Epoch 6/10
1/1 [==============================] - 0s 11ms/step - loss: 0.2265 - accuracy: 1.0000
Epoch 7/10
1/1 [==============================] - 0s 13ms/step - loss: 0.1984 - accuracy: 1.0000
Epoch 8/10
1/1 [==============================] - 0s 14ms/step - loss: 0.1740 - accuracy: 1.0000
Epoch 9/10
1/1 [==============================] - 0s 15ms/step - loss: 0.1530 - accuracy: 1.0000
Epoch 10/10
1/1 [==============================] - 0s 12ms/step - loss: 0.1348 - accuracy: 1.0000

 [[[ 2. 26. 88.  1.]]]
Epoch 1/10
1/1 [==============================] - 0s 17ms/step - loss: 0.2637 - accuracy: 1.0000
Epoch 2/10
1/1 [==============================] - 0s 10ms/step - loss: 0.2033 - accuracy: 1.0000
Epoch 3/10
1/1 [==============================] - 0s 10ms/step - loss: 0.1647 - accuracy: 1.0000
Epoch 4/10
1/1 [==============================] - 0s 24ms/step - loss: 0.1360 - accuracy: 1.0000
Epoch 5/10
1/1 [==============================] - 0s 15ms/step - loss: 0.1138 - accuracy: 1.0000
Epoch 6/10
1/1 [==============================] - 0s 15ms/step - loss: 0.0969 - accuracy: 1.0000
Epoch 7/10
1/1 [==============================] - 0s 15ms/step - loss: 0.0840 - accuracy: 1.0000
Epoch 8/10
1/1 [==============================] - 0s 16ms/step - loss: 0.0736 - accuracy: 1.0000
Epoch 9/10
1/1 [==============================] - 0s 12ms/step - loss: 0.0650 - accuracy: 1.0000
Epoch 10/10
1/1 [==============================] - 0s 10ms/step - loss: 0.0577 - accuracy: 1.0000

 [[[ 3. 45. 27. 22.]]

 [[ 3. 10. 80. 67.]]

 [[ 3. 71. 48. 21.]]

 [[ 3. 58.  9. 60.]]]
Epoch 1/10
1/1 [==============================] - 0s 18ms/step - loss: 0.3153 - accuracy: 0.7500
Epoch 2/10
1/1 [==============================] - 0s 16ms/step - loss: 0.2209 - accuracy: 0.7500
Epoch 3/10
1/1 [==============================] - 0s 15ms/step - loss: 0.1801 - accuracy: 1.0000
Epoch 4/10
1/1 [==============================] - 0s 13ms/step - loss: 0.1542 - accuracy: 1.0000
Epoch 5/10
1/1 [==============================] - 0s 14ms/step - loss: 0.1359 - accuracy: 1.0000
Epoch 6/10
1/1 [==============================] - 0s 11ms/step - loss: 0.1218 - accuracy: 1.0000
Epoch 7/10
1/1 [==============================] - 0s 14ms/step - loss: 0.1101 - accuracy: 1.0000
Epoch 8/10
1/1 [==============================] - 0s 12ms/step - loss: 0.1002 - accuracy: 1.0000
Epoch 9/10
1/1 [==============================] - 0s 14ms/step - loss: 0.0915 - accuracy: 1.0000
Epoch 10/10
1/1 [==============================] - 0s 11ms/step - loss: 0.0839 - accuracy: 1.0000